{% load static %}  
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>
    <div class="container">
        <h2>Restablecer Contraseña</h2>
        <p>Por favor, ingresa tu correo electrónico para recibir un enlace para restablecer tu contraseña.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Enviar enlace</button>
        </form>
    </div>
</body>
</html>
